<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.student.mapper.SysRoleMenuMapper">

    <resultMap id="BaseResultMap" type="com.example.student.entity.SysRoleMenu">
        <id column="role_id" property="roleId" />
        <result column="menu_id" property="menuId" />
    </resultMap>
    
    <!-- 批量新增角色菜单关联 -->
    <insert id="batchInsert" parameterType="java.util.List">
        insert into sys_role_menu (role_id, menu_id) values
        <foreach collection="list" item="item" separator=",">
            (#{item.roleId}, #{item.menuId})
        </foreach>
    </insert>
    
    <!-- 通过角色ID删除角色和菜单关联 -->
    <delete id="deleteByRoleId" parameterType="java.lang.Long">
        delete from sys_role_menu where role_id = #{roleId}
    </delete>
    
    <!-- 批量删除角色菜单关联 -->
    <delete id="deleteByRoleIds" parameterType="java.util.List">
        delete from sys_role_menu where role_id in
        <foreach collection="roleIds" item="roleId" open="(" separator="," close=")">
            #{roleId}
        </foreach>
    </delete>
    
    <!-- 删除角色指定菜单 -->
    <delete id="deleteByRoleIdAndMenuIds">
        delete from sys_role_menu 
        where role_id = #{roleId} and menu_id in
        <foreach collection="menuIds" item="menuId" open="(" separator="," close=")">
            #{menuId}
        </foreach>
    </delete>
    
    <!-- 查询菜单使用数量 -->
    <select id="selectCountByMenuId" resultType="java.lang.Integer">
        select count(1) from sys_role_menu where menu_id = #{menuId}
    </select>
</mapper> 